---
title: About a Static Page
layout: base.njk
---
 
<div class="container">
    <h1>This is a static page!!!</h1>
    <p>This page was made with HTML, CSS, Javascript and NJK</p>
</div>

{% for item in news %}
    <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}